{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automatic Number Plate Recognition</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">


</head>

<body>
    <div class="container">
        <p>Location: <span class="location"></span> </p>
        <h1>Automatic Number Plate Recognition</h1>


        <div class="main-content">
            <!-- Settings Panel -->
            <div class="settings-panel">
                <h3>Recognized plates</h3>
                <p> </p>
            </div>

            <!-- Main Content Area -->
            <form action="" method="POST" enctype="multipart/form-data" class="content-area">
                {% csrf_token %}
                <input type="hidden" name="long" id="long">
                <input type="hidden" name="lat" id="lat">
                <div class="button-group">
                    <label>Load Image</label>
                    <button type="button" onclick="document.getElementById('imageInput').click()">Load File</button>
                    <button>Execute</button>
                </div>

                <div class="button-group">
                    <label>Videos</label>
                    <button type="button" onclick="document.getElementById('videoInput').click()">Load Video</button>
                    <button onclick="executeRecognition()">Execute</button>
                </div>

                <!-- Hidden file inputs -->
                <input type="file" id="imageInput" name="image" class="hidden" accept="image/*"
                    onchange="loadFile(event, 'image')">
                <input type="file" id="videoInput" class="hidden" name="video" accept="video/*"
                    onchange="loadFile(event, 'video')">


                <div class="image-container" id="mediaContainer">
                    <img src="" alt="Number Plate Preview" class="preview-media" id="previewImage">
                    <video controls class="preview-media hidden" id="previewVideo"></video>
                    <div class="image-info" id="fileInfo">
                        <p>Name: kitsnap-2012-08</p>
                        <p>Path: E:\New folder\Desktop\number plates\numberframes\pictures\</p>
                    </div>
                </div>


                <div class="copyright">
                    Copyrighted · All rights reserved
                </div>
            </form>
        </div>
    </div>

    <script src="{% static 'script.js' %} "></script>
</body>

</html>