{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automatic Number Plate Recognition</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">


</head>

<body>
    <div class="container">
        <p>This Location: <strong class="location"></strong> </p>
        <h1>Automatic Number Plate Recognition</h1>


        <div class="main-content">
            <!-- Settings Panel -->
            <div class="settings-panel">
            </div>

            <!-- Main Content Area -->
            <form id="loaderform" action="{% url 'home' %}" method="POST" enctype="multipart/form-data"
                class="content-area">
                {% csrf_token %}
                <input type="hidden" name="long" id="long">
                <input type="hidden" name="lat" id="lat">
                <div class="button-group">
                    <label>Load Image</label>
                    <button type="button" onclick="document.getElementById('imageInput').click()">Load File</button>
                    <button>Execute</button>
                </div>

                <div class="button-group">
                    <label>Videos</label>
                    <button type="button" onclick="document.getElementById('videoInput').click()">Load Video</button>
                </div>

                <div class="button-group">
                    <button type="button" onclick="liveCapture()">Capture Live</button>
                </div>

                <!-- Hidden file inputs -->
                <input type="file" id="imageInput" name="image" class="hidden" accept="image/*"
                    onchange="loadFile(event, 'image')">
                <input type="file" id="videoInput" class="hidden" name="video" accept="video/*"
                    onchange="loadFile(event, 'video')">


                <div class="image-container" id="mediaContainer">
                    <img src="{{file_path}}" alt="Number Plate Preview" class="preview-media" id="previewImage">
                    <video controls class="preview-media hidden" id="previewVideo"></video>
                    <div class="image-info" id="fileInfo">
                        <p></p>
                        <p></p>
                    </div>
                </div>


                <div class="copyright">
                    Copyrighted · All rights reserved
                </div>
            </form>
        </div>
    </div>

    <canvas id="canvas"></canvas>

    <script src="{% static 'script.js' %} "></script>
</body>

</html>